{% extends 'calendars/main-template.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row">

        <!-- Left Side of Page: -->
        <div class="col-lg-7">

            <!-- Monthly Views: -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Monthly View:</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive month-views"></div>
                </div>
            </div>

        </div>

        <!-- Right Side of Page:  -->
        <div class="col-lg-5">

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Mission Statement Summary:</h6>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore praesentium esse fugit quasi,
                        est aliquam cum soluta, rem laudantium hic aspernatur, quo vitae! Tenetur eaque esse nam ab
                        veniam ad.
                    </p>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Add Mission</span>
                    </a>
                </div>
            </div>

            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Missional Goals:</h6>
                </div>
                <div class="card-body">
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat asperiores omnis iure a dolore
                        ducimus quis eveniet tempore reiciendis et incidunt molestiae error, quisquam vel ea mollitia
                        numquam, odio nemo.
                    </p>
                    <div class="my-2"></div>
                    <a href="#" class="btn btn-success btn-icon-split">
                        <span class="icon text-white-50">
                            <i class="fas fa-plus"></i>
                        </span>
                        <span class="text">Add Goal</span>
                    </a>
                </div>
            </div>

        </div>
        
    </div>

    <!-- Modal for creating event -->
    <div class="modal fade milestone-modal" id="milestone-modal" tabindex="-1" role="dialog" aria-labelledby="ModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered edit-milestone-modal-content" role="document">
            <div class="modal-content ">
                <div class="modal-header">
                <h5 class="modal-title" id="ModalLongTitle">Create/Edit Milestone</h5>
                </div>
                <div class="modal-body">
                    <form class="" id="milestone-form" action="/milestones" method="POST"> {% csrf_token %}

                        <div class="form-group row">
                            <div class="col-sm-4">
                                <label for="milestone-month" class="col-sm col-form-label">Month:</label>
                                <div class="col-sm mb-6 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="milestone-month"
                                        value="1">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="milestone-day" class="col-sm col-form-label">Day:</label>
                                <div class="col-sm mb-6 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="milestone-day"
                                        value="1">
                                </div>
                            </div>

                            <div class="col-sm-4">
                                <label for="milestone-year" class="col-sm col-form-label">Year:</label>
                                <div class="col-sm mb-6 mb-sm-0">
                                    <input type="text" class="form-control form-control-user" id="milestone-year"
                                        value="1">
                                </div>
                            </div>
                        </div>

                        <div class="form-group row px-3">
                            <label for="milestone-title" class="col-sm-3 col-form-label">Title:</label>
                            <div class="col-sm-8 mb-6 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="milestone-title"
                                    placeholder="Title">
                            </div>
                        </div>

                        <div class="form-group row px-3">
                            <label for="milestone-goal" class="col-sm-3 col-form-label">Goal:</label>
                            <div class="col-sm-8 mb-6 mb-sm-0">
                                <input type="text" class="form-control form-control-user" id="milestone-goal"
                                    placeholder="Goal">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger btn-milestone-cancel" data-dismiss="modal">Cancel</button>
                    <button form="milestone-form" type="button" class="btn btn-success btn-milestone-create">Save Milestone</button>
                </div>
            </div>
        </div>
    </div>

</div>
{% endblock %}